/* Input container */
/*.input-container {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  }*/
  html,
body {
  
  margin: 0;
  padding: 0;
}


  
  .homepage-headers{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 25%;
    flex-grow: 1;
    text-align: center;  
  }
  .homepage-content {
    display: flex;
    align-items: center;
  }
  
  .homepage-content img {
    
    position: absolute;
    top: 15%;
    left: 65%;
  }
  .search-section {
    display: flex;
    top: 50%;
  }
  Link {
    text-decoration: none;
}

.search-container {
  position: relative;
  top: 101%;
  background-color: #000;
}
  
  
  
  .searchbar {
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 4;
    height: 50px;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 50%;
    
    
  }
  
  .searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
  }
  
  .searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
  }
  
  .searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
  }
  
  .search-icon-wrapper {
    margin: auto;
  }
  
  .search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    line-height: 20px;
    width: 20px;
  }
  
  .searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
  }
  
  .searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
  }
  
  .searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
  }
  .search-button {
    left: 77%;
    top: 50%;
    padding: 14px 20px;
    border: unset;
    border-radius: 5px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: absolute;
    font-weight: 1000;
    font-size: 15px;
    transition: all 150ms;
    overflow: hidden;
   }
   
   .search-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #3430f0;
    z-index: -1;
    transition: all 150ms
   }
   
   .search-button:hover {
    color: #e8e8e8;
   }
   
   .search-button:hover::before {
    width: 100%;
   }
   .dots-container {
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #6793fb;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }

  .search-container {
    
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #000;
    padding-top: 2rem;
    padding-right: 7rem;
    
  }
  
  
  
  
  
  
  